/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.body {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;

  background: linear-gradient(190deg, #ffffff 0%, #b2bed3 100%);
}

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow {
  padding: 10px;
}

#infowindow-content .title {
  font-weight: bold;
  color: rgb(235, 210, 177);
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  padding: 2px 11px 2px 13px;
  text-overflow: ellipsis;
  width: calc(100% - 24px);
  border-radius: 1.25rem;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.6);
  text-align: right;
  height: 50px;
  direction: rtl;
  right: 12px;
  max-width: 100%;
  position: fixed !important;
  top: 10px !important;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.info-w {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding: .5rem;
  background: #04295b9f;
  backdrop-filter: blur(10px);
  color: whitesmoke;
}

footer a {
  color: whitesmoke;
  letter-spacing: 0.1rem;
}

.list-btns {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.lnk {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: linear-gradient(115deg, #5c91e6 0%, #214a8d 100%);
  border-radius: 5.25rem;
  box-shadow: -2px 1px 10px 2px #5c91e6 inset;
  padding: 1rem;
  text-align: center;
  font-weight: bolder;
  font-size: 1.25rem;
  transition: all 0.3s;
}
.lnk:hover {
  background: linear-gradient(115deg, #214a8d 0%, #5c91e6 100%);
}

.search {
  background: linear-gradient(115deg, #95be4c 0%, #656e14 100%);
  box-shadow: -2px 1px 10px 2px #b3e65c inset;
}
.search:hover {
  background: linear-gradient(115deg, #656e14 0%, #95be4c 100%);
}

.general {
  background: linear-gradient(115deg, #e65c5c 0%, #8d2121 100%);
  box-shadow: -2px 1px 10px 2px #e65c5c inset;
}
.general:hover {
  background: linear-gradient(115deg, #8d2121 0%, #e65c5c 100%);
}

.divider {
  width: 100%;
  height: 1px;
  background: #5c91e6;
  margin: 1rem 0;
  border-radius: 5.25rem;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  font-weight: 800;
}